/* begin styling */

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  color: #3a241d;
  text-align: center;
}

#left-container {
  background-color: #eee;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15%;
  height: 100%;
  padding: 10px;
}

#right-container {
  background-color: #eee;
  position:absolute;
  right: 0px;
  top: 0px;
  width: 15%;
  height: 100%;
  right: 0px;
}

.plant-holder {
  position: relative;
  height: 13%;
  left: -10px;
}

.plant {
  position: absolute;
  max-width: 150%;
  max-height: 150%;
  z-index: 2;
}

h1:hover {
  color: hotpink;
}